/*My CSS*/
.euler-img {
    float: right;
    width: 184px;
    height:228px;
    background-image:url(../../images/euler.png);
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
}
/*Move to global.css*/

/*Move to navbar.css*/
