@media screen and (min-width: 768px) {
    #navbar {
        float: right;
    }
}

@media screen and (max-width: 767px) {
}

.navbar-brand {
    padding: 10px 10px;
    font-size: 18px;
    line-height: 30px;
}

.navbar-toggle {
    margin-left: 6px;
}

.euler-userinfo {
    float: right;
    line-height: 50px;
}

.euler-btn-sign-group {
    width: 160px;
}

.euler-display-sm .euler-btn-sign {
    width:70px;
}

.euler-btn-user-menu,
.euler-display-xs .euler-btn-sign {
    height: 30px;
    width: 70px;
    line-height: 30px;
    border: none;
    padding: 0;
    color: #eee;
    background-color: transparent;
}

.euler-userinfo .dropdown-menu  {
    min-width: 90px;
}